

body{
    font-family: 'Poppins', sans-serif;
    background-color: #0B1624;
    color: white;
    
}
/*debut de la navbar*/
.navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:auto;
}
.navbar .menu{
    text-align: right;
    margin-left: auto;
    margin-right: 50px;
    align-self: center;
}
.navbar .menu ul{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    text-align: center;
}
.navbar .menu li{
    list-style: none;
    width: 400px;
}
.navbar .menu li a{
    display: block;
    font-size: 22px;
    font-weight: 500;
    margin-left: 25px;
    color: #0a62d0;
    text-decoration: none;
    transition: 0.3s;
}
.navbar .menu li a:hover{
    color: #76A7E3;
    transition: 0.3s;
}
#logo{
    display : inline-block;
    width: 20%;
    font-size: 25px;

}
#logo h1 a{
    color: #257BE6;
    text-decoration: none;
}
/*fin de la navbar*/

#accueil{
    background-color: #e0e5e9;
    color: #0B1624;
    font-size: 26px;
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    padding-top: 35px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    transition: 0.4s;
}
#accueil:hover{
    transform: scale(1.05);
    transition: 0.4s;
}
#accueil p{
    font-weight: 700;
}
#accueil p a{
    color: #257BE6;
    text-decoration: none;
    transition: 0.3s;
    position: relative;
}
#accueil p a:hover{
    transform: scale(1.05);
}
#accueil p a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}
#accueil p a::after{
    content:'';
    position: absolute;
    left:0;
    bottom: 0;
    width:100%;
    height:2px;
    background-color: currentColor;
    transform : scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}
#presentation{
    background-color: #e0e5e9;
    color: #0B1624;
    width: 94%;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 40px;
    margin-top: 200px;
    padding-left: 50px;
    padding-right: 50px;
    margin-right: auto;
    margin-left: auto;
}
#presentation p {
    font-size: 26px;
}
#presentation p a{
    color: #257BE6;
    text-decoration: none;
    transition: 0.3s;
    position: relative;
}
#presentation p a:hover{
    transform: scale(1.05);
}
#presentation p a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}
#presentation p a::after{
    content:'';
    position: absolute;
    left:0;
    bottom: 0;
    width:100%;
    height:2px;
    background-color: currentColor;
    transform : scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}
#presentation p{
    font-weight: 700;
    align-self: center;
}
#projet table{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 50px;
}
#projet tr{
    width: 59%;
}
#projet tr td{
    background-color: #e0e5e9;
    color: #0B1624;
    width: 33%;
    border-radius: 8px;
    text-align: center;
    padding-bottom: 20px;
    margin: 50px;
}
#projet p{
    font-size: 23px;
    font-weight: 600;
    margin: 20px;
}
#projet #btnProjet{
    display: inline-block;
    background: #257BE6;
    color: ghostwhite;
    font-size: 23px;
    margin-top: 10px;
    padding: 4px;
    border-radius: 10px;
    border: 2px solid #76A7E3;
    transition: all 0.4s ease;
}
#projet a{
    text-decoration: none;
}
#projet #btnProjet:hover{
    transform: scale(1.05);
    background-color: transparent;
    border-color: #257BE6;
    color: #257BE6;
}
#projet #projetCAP{
    transition: 0.4s;
}
#projet #projetCAP:hover{
    transform: scale(1.05);
    transition: 0.4s;
}
#projet #projetPortfolio{
    transition: 0.4s;
}
#projet #projetPortfolio:hover{
    transform: scale(1.05);
    transition: 0.4s;
}
#projet h3{
    font-size: 23px;
    font-weight: 800;
}
#backgroundCompetence{
    background-color: #e0e5e9;
    color: #0B1624;

    width: 100%;
    text-align: center;
}
#competence{
    background-color: #0B1624;
    color: #e0e5e9;
    border-radius: 8px;
    margin: 40px;
    padding: 30px;
    width: 20%;
    margin-right: auto;
    margin-left: auto;
}
#competence #logoWEB{
    justify-content: space-between;
}
#competence p{
    text-align: center;
    font-weight: 700;
}
#allCompetence{
    display: flex;
}
#titre{
    text-align: center;
    font-weight: 900;
    font-size: 33px;
}
#titre2{
    text-align: center;
    font-weight: 800;
    font-size: 23px;
}

